body{
background:url('bg.jpeg') no-repeat right top / cover;
}
h1{
    color: white;
border-style:solid dotted dashed groove;
border-top-right-radius: 5px;
margin-bottom: 50px;
padding: 50px 25px 30px 20px;

}
.container{
    background-color: red;
    padding: 100px;

}
.contain{
    background-color: black;
    padding: 50px;
}
.display{
    display: flex;
}
.grid{
    background-color: white;
    padding: 20px;
    margin-right: 9px;
    margin-bottom: 9px;
}
.box{
    background-color: yellow;
    padding: 20px;
    margin-right: 9px;
    margin-bottom: 9px;
}
.colour{
    color:#960018;
}